body{
    font-family: sans-serif;
    background-color: hsl(53deg 97% 53%);;
}
.blog, .block{
    background-color: white;
}
.blog-text{
    width: 194px;
    margin: 20px;
    text-align: center;
}
.blog{
    width: 240px;
    margin: 100px 0;
    position: relative;
    left: calc(50% - 120px);
    top: calc(50% - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    width: calc(1000px / 3);
    margin: 20px;
    /* outline: 4px solid black;
    outline-offset: 2px; */
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.up, .down{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    margin: 0;
}
.text{
    margin: 25px;
}
.frame{
    border: 3px solid;
    translate: -6px -6px 0px;
}